.legend {
  margin-top: 7px;
}

dl dt {
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-bottom: 7px;
  border: 1px solid black;
}

dl dd {
  display: inline-block;
  margin: 0px 10px;
  margin-bottom: 7px;
  vertical-align: middle;
  font-size: 14px;
}

.zero {
  background: #ffffff;
}

.one {
  background: #ffc300;
}

.two {
  background: #ff5733;
}

.three {
  background: #c70039;
}

.four {
  background: #900c3f;
}

.none {
  background: #909090;
}
